<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: name_head">
    <title>Home</title>

</head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>


<!-- <nav th:replace="snippets.html :: name_app1_navbar"></nav> -->

 
<div class="jumbotron" style="margin-left:40px;">
  <h1 class="display-4">This is POS </h1>
  <p class="lead">Sale Made Easy</p>
  <hr class="my-4">
  <p>This application helps you in creating orders, generating invoice and reports easy and fast </p>
 
</div>

</div>
</div>
</div> <!--Container-->
</div>
<!--Container ends-->
<footer th:replace="snippets.html :: name_footer"></footer> 


</body>

</html>